/* =================================
Style :
================================= */

div[id^=togglcontent]{
		
	p {
		opacity: 0;
		transition: 1s;
	}
		
	&.open {
			
		p {
			opacity: 1;
		}
		
	}

}
